*{
  text-align: center;
}

.App{
  background-color: gray;
  height: 100%;
  width: 400px;
  display: inline-block;
  margin: 150px;
}
.loading{
text-align: center;
text-size-adjust: 30px;
animation-delay: 5s;

}